@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    background: rgb(27, 23, 23);
}
.cardHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid #fff;
    overflow: hidden;
    
}
.cardImage{
    grid-area: image;
    height: 200px;
    overflow: hidden;
}
.cardImage img{
    width: 100%;
}
.cardText{
    grid-area: text;
    margin-left: 20px;
    margin-right: 20px;
    
}
.cardText .date{
    color: #E15500;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardText p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardText h2{
    margin-top: 0px;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardStats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background:#E15500;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardStats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}
.cardStats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.cardStats .value{
    font-size: 22px;
    font-weight: 500;
}
.cardStats .border{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.cardStats .value sup{
    font-size: 12px;

}
.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Second Color*/

.card2{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid #fff;
    overflow: hidden;
    margin-left: 30px;
    
}
.cardImage2{
    grid-area: image;
    height: 200px;
    overflow: hidden;   
}
.cardImage2 img{
    width: 100%;
}
.cardText2{
    grid-area: text;
    margin-left: 20px;
    margin-right: 20px;
    
}
.cardText2 .date2{
    color: #00C325;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardText2 p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardText2 h2{
    margin-top: 0px;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardStats2{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #00C325;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardStats2 .stat2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}
.cardStats2 .type2{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.cardStats2 .value2{
    font-size: 22px;
    font-weight: 500;
}
.cardStats2 .border2{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.cardStats2 .value2 sup{
    font-size: 12px;

}
.card2:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Second Color*/

.card3{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid #fff;
    overflow: hidden;
    margin-left: 30px;
    
}
.cardImage3{
    grid-area: image;
    height: 200px;
    overflow: hidden;
   
}
.cardImage3 img{
  width: 100%;
}
.cardText3{
    grid-area: text;
    margin-left: 20px;
    margin-right: 20px;
    
}
.cardText3 .date3{
    color: #5500AA;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardText3 p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardText3 h2{
    margin-top: 0px;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardStats3{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #5500AA;
    font-family: 'Roboto Condensed', sans-serif;
}
.cardStats3 .stat3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}
.cardStats3 .type3{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.cardStats3 .value3{
    font-size: 22px;
    font-weight: 500;
}
.cardStats3 .border3{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.cardStats3 .value3 sup{
    font-size: 12px;

}
.card3:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

